.main {
  padding-top: 40px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px;

  > * {
    margin: 20px 0 0 20px;
  }
}

.main-block {
  cursor: pointer;

}

.main-block-selected {
  transform: scale(1.01) translateY(-10px);
}
