.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header {
  background: aqua;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.4)
}

.header-main-link {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: darkblue;

  &:hover {
    color: black;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2)
  }
}
